body, html {
margin: 0;
padding: 0;
}

* { 
    box-sizing: border-box;
}
*:focus {
    box-shadow: 0 0 10px #433cd3;
}

.merci__modal {
    display: none;
    position: fixed;
    z-index: 110;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(1, 2, 11, 0.4);
}

.btn-merci {
    width: auto;
    height: auto;
    display: flex;
    font-size: 2rem;
    font-weight: bold;
}
.modal-header{
    width: auto;
    height: auto;
    display: flex;
    font-size: 2rem;
    font-weight: bold;
}
.contact_button {
    width: 200px;
    height: 67px;
    font-size: 22px;
    font-weight: bold;
    color: white;
    padding: 10px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 50px;
}
.contactbouttonicone{
    background-color: #DB8876;
    border: none;
}
.contact_button:hover {
    color: black;
    background-color: #D3573C;
  }
#contact__modal {
    display: none;
    position: fixed;
    z-index: 110;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(1, 2, 11, 0.4);
}
.modal {
    width: 50%;
    height: auto;
    background-color: #DB8876;
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: auto;
}
.modal header {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: row-reverse;
}
.modal header img {
    width: 4vh;
    /* position: relative; */
    height: auto;
    display: flex;
    align-items: flex-end;
}
.modal header h2 {
    font-size: 34px;
    font-weight: normal;
    text-align: center;
    margin: 0px 0px;
}
.modal header h3 {
    font-size: 34px;
    font-weight: normal;
    text-align: center;
    margin: 50px 0px 90px 0px;
}
form {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
form label {
    width: 13%;
    height: auto;
    display: flex;
    color: #312E2E;
    font-size: 20px;
}
form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}
form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}
main {
    width: 100%;
    height: 100%;
    display: flex;
}
.photographer-top {
    width: auto;
    height: auto;
    display: flex;
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 40px;

}
.photographerslogo{
    width: 20vw;
    height: 100%;
    display: flex;
    /* margin: 20px 0px 0px 50px; */
}
.photographer__modal {
    /* display: none; */
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 110;
    left: 0;
    top: 0;
    overflow: auto;
}
.photographer__profil{
    width: 90%;
    display: flex;
    align-items: center;
    margin: auto;
} 
 .photographer__profil__profile{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
} 
 .photographer__profil__profile__presentation{
    width: 27%;
    height: auto;
    display: flex;
    flex-direction: column;  
    align-items: center;
    justify-content: center;
    margin: auto;
}
.photographer__profil__profile__presentation__name{
    width: 90%;
    font-size: 40px;
    margin: 20px 0px 0px 0px;
    color: red;
}
.photographer__profil__profile__presentation__other{
    width: 90%;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
}
.photographer__profil__profile__presentation__other__town{
    width: 100%;
    font-size: 1.2rem;
    color: red;
}
.photographer__profil__profile__presentation__other__text{
    width: 100%;
    margin: 10px 0px;
    font-size: 0.8rem;
    color: black;
}
.photographer__profil__profile__modal{
    width: 27%;
    height: auto;
    display: flex;
    justify-content: center;
    margin: auto;
}
.photographer__profil__profile__modal__header {
    background-color: #FAFAFA;
    height: auto;
    display: flex;
} 
.photographer__profil__profile__image{
    width: 27%;
    height: auto;
    display: flex;
    justify-content: center;
    margin: auto;
}
.photographer__profil__profile__image__img{
    width: 15vw;
    height: 15vw;
    align-items: center;
    object-fit: cover;
    font-size: large;
    background-size:cover;
    border-radius: 30rem;
}
.photographer__trier{
    width: 90%;
    display: flex;
    align-items: center;
    margin: auto;
}
section{
    width: auto;
    height: auto;
    display: flex;


}
section h3{
    width: auto;
    height: auto;
    display: flex;
    margin: 10px 10px;
}
.photographer{
    width: auto;
    height: auto;
    background-color: #FFF;
}
.photographer__trier__select{
    width: 140px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 4px;
    height: 50px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    z-index: 0;
}
.photographer__trier__select__option{
    background-color: #901C1C !important;
    height: 150px;
    font-size: x-large;
    color: #901C1C;
    /* border: 5px ridge rgb(108, 75, 209);  */
}
  select {
    background: rgb(194, 222, 209);
    border: 3px solid rgb(84, 73, 116);
    width: 300px;
    height: 30px;
    font-size: large;
  }
.photographer__trier__title{
    margin: 10px 20px;
}


.photographer__media{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 50px auto;
    /* border: 3px solid #1bd824; */

} 
.photographer__media__card{
    width:  auto;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px auto;
    /* border: 3px solid #1bd824; */

}
.photographer__media__card__img__media{
    width:  auto;
    height: 23vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 0px;
    background: transparent;
    border: none;
}
.photographer__media__card__img{
    width:  45vh;
    height: 23vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto auto;
    object-fit: cover;
    background-size:cover;
    border-radius: 15px 15px 0px 0px;
    transition: all 1s ease;
    cursor: pointer;
    }
.photographer__media__card__img:hover{
        transform:scale(1.06);
    }

.photographer__media__card__title{
    width:  45vh;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    /* border-radius: 0px 0px 15px 15px; */
    /* border: solid 3px rgb(60, 255, 0); */


}
.photographer__media__card__title__texte{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    margin: auto 10px;
    font-weight: 100;
    font-size: 18px;
    /* border-radius: 0px 0px 0px 15px; */
    color: #901C1C;

}
.photographer__media__card__title__icone{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 10px 5px;
    cursor : pointer;
}
.photographer__media__card__title__icone__media{
    width: auto;
    height: auto;
    border: none;
    background-color: transparent;
    :hover {
        transform:scale(1.30);
    }
}
.icone-heart{
    width: auto;
    height: auto;
    border: none;
    background-color: transparent;
    color: #FAFAFA;
    :hover {
        transform:scale(1.30);
    }
}
.photographer__media__card__title__icone__number{
    width: 40%;
    font-size: 20px;
    height: auto;
    color: #901C1C;
}
.photographer__media__card__title__icone__heart{
    width: 50%;
    height: auto;
    margin: 10px;
    display: flex;
}

.modal-light {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.modal-wrapper{
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    margin: 100px auto;


}
.lightbox__div-gauche{
    width: 5vw;
    height: 50vw;
    font-weight: 600; 
    font-size: 40px;

}

.lightbox__content{
    width: auto;
    height: auto;
    
}
.lightbox__navigate {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: solid 3px rgb(0, 255, 0); */
    background-color: transparent;
    z-index: 110;
}
.lightbox__content__image{
    width:  50vw;
    height: 50vw;
    position: relative;
    display: flex;
    object-fit: cover;
    border-radius: 15px 15px;
    transition: all 1s ease;
    z-index: 0;
    cursor: pointer;  
    background-color: rgb(123, 125, 119);

}
 .lightbox__modal{
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 110;
    left: 0;
    top: 0;
    min-width: 300px;
    overflow: auto;
    background-color: rgba(1, 2, 11, 0.4);
}
.lightbox__modal.active{
    display: flex;
}

.title{
    width: 100%;
    height: auto;
    display: flex;  
}
.contactName{
    width: 100%;
    height: auto;
    display: flex;
    font-weight: bolder;
    font-size: x-large;
    justify-content: center;
}
.contactTitle{
    width: 100%;
    display: block;
    height: auto;
}
.contacticone{
    width: 90%;
    height: auto;
    display: flex;
    justify-content: flex-end;
}
.lightbox__div-imgAndArrow{
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    flex-direction: row;
    /* border: solid 3px rgb(0, 34, 255); */
}
.lightbox__div-content{
    width: 70%;
    height: 100%;
    display: flex;  
    justify-content: center;
    /* border: solid 3px rgb(255, 221, 0); */
}
.lightbox__nav__fleche-gauche {
    width: auto; 
    height: auto;
    display: flex; 
    text-decoration: none;
    flex-direction: column;
    color: #901c1c;  
    justify-content: center;
    font-weight: 600; 
    font-size: 40px;
    margin: 0px 5px;
    /* border: solid 3px rgb(0, 255, 47); */
}
.lightbox__div-droite{
    position: relative;
    width:  auto;
    height: auto;
    display: flex;
    flex-direction: row-reverse;
    font-weight: 600; 
    justify-content: flex-end;
    font-size: 40px;
    /* border: solid 3px red; */
    align-items: center;
    background-color: transparent;
}
.lightbox__nav__fleche-droite {
    width: auto; 
    height: auto;
    display: flex; 
    text-decoration: none;
    flex-direction: column;
    color: #901c1c;  
    justify-content: center;
    font-weight: 600; 
    font-size: 40px;
    position: relative;
    margin: 0px 5px;
    /* border: solid 3px rgb(0, 255, 47); */
  }
  button.closeDiapo{
    width: auto; 
    height: 10%;
    display: flex; 
    border: none;
    text-decoration: none;
    color: #901c1c;  
    font-weight: 600; 
    font-size: 20px;
    background-color: transparent;
    /* border: solid 3px rgb(0, 255, 47); */
}
  .lightbox__div-image {
    width: auto; 
    height: auto;
    display: flex; 
    flex-direction: column;
    /* border: solid 3px rgb(0, 255, 0); */
}
.lightbox__name {
    width: auto; 
    height: auto;
    display: flex;
    justify-content: flex-start;
    background-color: #FFF;
    color: #901c1c;
    font-size: 14px;
    padding: 3px 0px 14px 6px;
}
/* @media screen and (max-width: 321px){
    .closeDiapo {
        top: 42vw;
        right: 20vw;
    }
}
@media screen and (max-width: 425px){
    .closeDiapo {
        top: 40vw;
        right: 20vw;
    }
} */
@media screen and (max-width: 374px) and (min-width: 300px)  {
    .closeDiapo {
        top: 45vw;
        right: 40vw;
    }
}
@media screen and (max-width: 600px) and (min-width: 375px)  {

/* @media screen and (max-width: 600px){ */
    /* .photographer__profil__profile{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 20px;
        margin-bottom: 40px;

    }
    .photographer__profil__profile__presentation {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;  
        align-items: center;
        justify-content: center;
        margin: auto;

    }
    .photographer__profil__profile__presentation__name {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px 0px;
    }
    .photographer__profil__profile__presentation__other{
        width: 80%;
        display: flex;
        flex-direction: column;
        font-size: 1.2rem;
    }
    .photographer__profil__profile__presentation__other__town{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .photographer__profil__profile__presentation__other__text{
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px 0px 20px 0px;

    }
    .photographer__profil__profile__modal {
        width: 37%;
    }
    .contact_button {
        margin-bottom: 30px;
    }
    .photographer__profil__profile__image__img {
        width: 25vw;
        height: 25vw;
        margin-bottom: 30px;
    }
    .lightbox__div-gauche {
        width: 9vw;
        height: 50vw;
        border: solid 3px red;
    }
    .lightbox__content__image{
        width:  50vw;
        height: 50vw;
    }
    .closeDiapo {
        top: 33vw;
        right: 16vw;
    } */
}

@media screen and (min-width: 1440px){
    .lightbox__content__image {
        width: 40vw;
        height: 40vw;
    }
    .closeDiapo {
        top: 14%;
        right: 27%;
    }
    .modal-wrapper{
            margin: 15px auto;
    } 

}
