#contact_modal {
    display: none;
}



.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 4px;
    min-width: 130px;
    height: 50px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}
.modal header img {
    cursor: pointer;
}
.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}
form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}
form label {
    color: #312E2E;
    font-size: 36px;
}
form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}
form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}
.photographer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
}
.photographer__profil{
    width: 92%;
    display: flex;
    align-items: center;
    margin: auto;
} 
 .photographer__profil__profile{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    background-color: #FAFAFA;} 
 .photographer__profil__profile__presentation{
    width: 27%;
    height: auto;
    display: flex;
    flex-direction: column;  
    align-items: center;
    justify-content: center;
    margin: auto;
}
.photographer__profil__profile__presentation__name{
    width: 80%;
    font-size: 3rem;
    margin: 10px 0px;
    color: red;
}
.photographer__profil__profile__presentation__other{
    width: 80%;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
}
.photographer__profil__profile__presentation__other__town{
    width: 100%;
    font-size: 1.2rem;
    color: red;
    margin: 10px 0px;
}
.photographer__profil__profile__presentation__other__text{
    width: 100%;
    margin: 10px 0px;
    font-size: 0.8rem;
    color: black;
}
.photographer__profil__profile__modal{
    width: 27%;
    height: auto;
    display: flex;
    justify-content: center;
    margin: auto;
}
.photographer__profil__profile__modal__header {
    background-color: #FAFAFA;
    height: auto;
    display: flex;
} 
.photographer__profil__profile__image{
    width: 27%;
    height: auto;
    display: flex;
    justify-content: center;
    margin: auto;
}
.photographer__profil__profile__image__img{
    width: 15rem;
    height: 15rem;
    align-items: center;
    object-fit: cover;
    font-size: large;
    background-size:cover;
    border-radius: 30rem;
}
.photographer__trier{
    width: auto;
    height: auto;
}
.photographer__trier__select{
    background-color: #901C1C !important;
    height: 150px;
    font-size: x-large;
    color: #901C1C;
    border: 5px ridge rgb(108, 75, 209); 
    z-index: 10;
}
.photographer__trier__select__option{
    background-color: #901C1C !important;
    height: 150px;
    font-size: x-large;
    color: #901C1C;
    border: 5px ridge rgb(108, 75, 209); 
    z-index: 10;
}
.box {
  background-color: rgb(191, 207, 235);
  height: 150px;
  font-size: x-large;
  color: rgb(2, 0, 0);
  border: 5px ridge rgb(108, 75, 209);
  }
  select {
    background: rgb(194, 222, 209);
    border: 3px solid rgb(84, 73, 116);
    width: 300px;
    height: 30px;
    font-size: large;
  }
.photographer__trier__title{
    margin: 10px 20px;
}
.photographer__trier__select{
    /* font-size: 1.2rem; */
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 4px;
    min-width: 130px;
    height: 50px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.photographer__media{
    width: 100%;
    height: 100%;
    border: 3px solid rgb(255, 81, 0);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
} 
.photographer__media__card{
    width:  70vh;
    height: 50vh;
    display: flex;
    flex-direction: column;
    border: 3px solid rgb(222, 222, 217);
    justify-content: center;
    margin: 10px auto;
    border-radius: 15px;
}
.photographer__media__card__img{
    /* min-width: 280px; */
    width: 100%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    object-fit: cover;
    background-size:cover;
    border-radius: 15px 15px 0px 0px;
    transition: all 1s ease;
    cursor: pointer;
    }
.photographer__media__card:hover{
        transform:scale(1.06);
    }

.photographer__media__card__title{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    border-radius: 0px 0px 15px 15px;

}
.photographer__media__card__title__texte{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-weight: 100;
    font-size: 15px;
    border-radius: 0px 0px 0px 15px;
}
.photographer__media__card__title__icone{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    margin: auto;
    cursor : pointer;
    border-radius: 0px 0px 15px 0px;
}
.photographer__media__card__title__icone__number{
    width: 40%;
    font-size: 20px;
    height: auto;
}
.photographer__media__card__title__icone__heart{
    width: 25%;
    height: auto;
    margin: 10px;
}
.lightbox__content{
    width:  70vh;
    height: 50vh;
    display: flex;
    flex-direction: column;
    border: 3px solid rgb(222, 222, 217);
    justify-content: center;
    margin: 10px auto;
    border-radius: 15px;
}
.lightbox__content__image{
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    object-fit: cover;
    background-size:cover;
    border-radius: 15px 15px 0px 0px;
    transition: all 1s ease;
    z-index: 0;
    cursor: pointer;
}
.lightbox__nav{
    width:  70vh;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-size: xxx-large;
    font-weight: bolder;
    border: solid 3px red;
    position: absolute;
    /* top: 10%; */
    z-index: 1;
}
.lightbox__nav__fleche-gauche{
    width: 7vh;
    height: auto;
    display: flex;
    justify-content: center;
    background-color: aqua;
}
.lightbox__nav__fleche-droite{
    width: 7vh;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    background-color: aqua;
}