.merci__modal {
    display: none;
    position: fixed;
    z-index: 110;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(1, 2, 11, 0.4);
}
.btn-merci {
    width: auto;
    height: auto;
    display: flex;
    font-size: 2rem;
    font-weight: bold;
}
.modal-header{
    width: auto;
    height: auto;
    display: flex;
    font-size: 2rem;
    font-weight: bold;
}
.contact_button {
    width: 200px;
    height: 67px;
    font-size: 22px;
    font-weight: bold;
    color: white;
    padding: 10px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 50px;
}
.contactbouttonicone{
    background-color: #DB8876;
    border: none;
}
.contact_button:hover {
    color: black;
    background-color: #D3573C;
  }
#contact__modal {
    display: none;
    position: fixed;
    z-index: 110;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(1, 2, 11, 0.4);

}
.modal {
    width: 50%;
    height: auto;
    background-color: #DB8876;
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: auto;
}
.modal header {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: row-reverse;

}

.modal header img {
    width: 4vh;
    /* position: relative; */
    height: auto;
    display: flex;
    align-items: flex-end;
}
.modal header h2 {
    font-size: 34px;
    font-weight: normal;
    text-align: center;
    margin: 0px 0px;
}
.modal header h3 {
    font-size: 34px;
    font-weight: normal;
    text-align: center;
    margin: 50px 0px 90px 0px;
}
form {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
form label {
    width: 13%;
    height: auto;
    display: flex;
    color: #312E2E;
    font-size: 20px;
}
form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}
form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}
main {
    width: 100%;
    height: 100%;
    display: flex;
    /* border: 3px solid #901C1C; */
}
.photographer-top {
    width: auto;
    height: auto;
    display: flex;
    margin-top: 40px;
    margin-left: 50px;
    margin-bottom: 10px;
}
.photographerslogo{
    width: 20vw;
    height: 100%;
    display: flex;
    /* margin: 20px 0px 0px 50px; */
}
.photographer__modal {
    /* display: none; */
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 110;
    left: 0;
    top: 0;
    overflow: auto;
}
.photographer__profil{
    width: 90%;
    display: flex;
    align-items: center;
    margin: auto;
    /* border: 3px solid #901C1C; */

} 
 .photographer__profil__profile{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #FAFAFA;
} 
 .photographer__profil__profile__presentation{
    width: 27%;
    height: auto;
    display: flex;
    flex-direction: column;  
    align-items: center;
    justify-content: center;
    margin: auto;
}
.photographer__profil__profile__presentation__name{
    width: 90%;
    font-size: 40px;
    margin: 20px 0px 0px 0px;
    color: red;
}
.photographer__profil__profile__presentation__other{
    width: 90%;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
}
.photographer__profil__profile__presentation__other__town{
    width: 100%;
    font-size: 1.2rem;
    color: red;
}
.photographer__profil__profile__presentation__other__text{
    width: 100%;
    margin: 10px 0px;
    font-size: 0.8rem;
    color: black;
}
.photographer__profil__profile__modal{
    width: 27%;
    height: auto;
    display: flex;
    justify-content: center;
    margin: auto;
}
.photographer__profil__profile__modal__header {
    background-color: #FAFAFA;
    height: auto;
    display: flex;
} 
.photographer__profil__profile__image{
    width: 27%;
    height: auto;
    display: flex;
    justify-content: center;
    margin: auto;
}
.photographer__profil__profile__image__img{
    width: 13rem;
    height: 13rem;
    align-items: center;
    object-fit: cover;
    font-size: large;
    background-size:cover;
    border-radius: 30rem;
}
.photographer__trier{
    width: 90%;
    display: flex;
    align-items: center;
    margin: auto;
    /* border: 3px solid #901C1C; */

}
.photographer__trier__select{
    width: 140px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 4px;
    height: 50px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    z-index: 0;
}
.photographer__trier__select__option{
    background-color: #901C1C !important;
    height: 150px;
    font-size: x-large;
    color: #901C1C;
    border: 5px ridge rgb(108, 75, 209); 
}
  select {
    background: rgb(194, 222, 209);
    border: 3px solid rgb(84, 73, 116);
    width: 300px;
    height: 30px;
    font-size: large;
  }
.photographer__trier__title{
    margin: 10px 20px;
}


.photographer__media{
    width: 90%;
    height: 95%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
    /* border: 3px solid #901C1C; */

} 
.photographer__media__card{
    width:  55vh;
    height: 40vh;
    display: flex;
    flex-direction: column;
    /* border: 3px solid rgb(222, 222, 217); */
    justify-content: center;
    margin: 10px auto;
    border-radius: 15px;
}
.photographer__media__card__img{
    width: 100%;
    height: 90%;
    display: flex;
    /* align-items: center; */
    object-fit: cover;
    background-size:cover;
    border-radius: 15px 15px 0px 0px;
    transition: all 1s ease;
    cursor: pointer;
    }
.photographer__media__card__img:hover{
        transform:scale(1.06);
    }

.photographer__media__card__title{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    border-radius: 0px 0px 15px 15px;

}
.photographer__media__card__title__texte{
    width: 80%;
    height: 100%;
    display: flex;
    margin: 10px 5px;
    font-weight: 100;
    font-size: 20px;
    border-radius: 0px 0px 0px 15px;
    color: #901C1C;
}
.photographer__media__card__title__icone{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 10px 5px;
    cursor : pointer;
    border-radius: 0px 0px 15px 0px;
}
.photographer__media__card__title__icone__number{
    width: 40%;
    font-size: 20px;
    height: auto;
}
.photographer__media__card__title__icone__heart{
    width: 25%;
    height: auto;
    margin: 10px;
}
.lightbox__modal{
    display: none;
    position: fixed;
    z-index: 110;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(1, 2, 11, 0.4);
}
.lightbox__content{
    width:  70%;
    height: auto;
    /* border: solid 6px blue; */
    display: flex;
    background-color: #FAFAFA;
    justify-content: center;
    margin: auto auto;

}

.lightbox__nav{
    width:  100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.lightbox__navigate{
    
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    /* border: solid 7px yellowgreen; */
    overflow: hidden;
    align-items: center;
    margin: auto auto;
}
.lightbox__nav__fleche-gauche{
    width: 7vh;
    height: auto;
    color: #901c1c;
    display: flex;
    justify-content: center;
    margin: auto auto;
    /* border: solid 3px red; */
    font-size: 40px;
    font-weight: 00;
}
.lightbox__content__image{
    width:  50vw;
    height: 50vw;
    position: relative;
    display: flex;
    object-fit: cover;
    border-radius: 15px 15px;
    transition: all 1s ease;
    z-index: 0;
    cursor: pointer;
}
.lightbox__nav__fleche-droite{
    width: 7vh;
    position: relative;
    color: #901c1c;
    height: auto;
    display: flex;
    font-size: 40px;
    justify-content: center;
    margin: auto auto;
    /* border: solid 3px red; */
}
.lightbox__close{
    width: 100%;
    height: 40px;
    display: flex; 
    flex-direction: row-reverse;
    /* border: solid 7px red; */
}
.lightbox__name{
    width: 100%;
    height: 100%;
    display: flex;
    font-weight: 100;
    font-size: 16px;
    margin: 5px 0px 0px 108px;
    color: #901C1C;
}
.closeDiaspo{
    width: 4vh;
    position: relative;
    height: auto;
    display: flex;
    align-items: flex-end;
    margin: 10px 20px;
}
.title{
    width: 100%;
    height: auto;
    display: flex;  
}
.contactName{
    width: 100%;
    height: auto;
    display: flex;
    font-weight: bolder;
    font-size: x-large;
    justify-content: center;
}
.contactTitle{
    width: 100%;
    display: block;
    height: auto;
}
.contacticone{
    width: 90%;
    height: auto;
    display: flex;
    justify-content: flex-end;
}
@media screen and (max-width: 600px){
    .photographer__profil__profile{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #FAFAFA;
        border: 10px solid  #DB8876;
        border-radius: 20px;
        margin-bottom: 40px;

    }
    .photographer__profil__profile__presentation {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;  
        align-items: center;
        justify-content: center;
        margin: auto;

    }
    .photographer__profil__profile__presentation__name {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px 0px;
      }
      .photographer__profil__profile__presentation__other{
        width: 80%;
        display: flex;
        flex-direction: column;
        font-size: 1.2rem;
    }
    .photographer__profil__profile__presentation__other__town{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .photographer__profil__profile__presentation__other__text{
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px 0px 20px 0px;

    }
    .photographer__profil__profile__modal {
        width: 37%;

    }
    .contact_button {
        margin-bottom: 30px;
    }
    .photographer__profil__profile__image__img {
        width: 25vw;
        height: 25vw;
        margin-bottom: 30px;
    }
    .lightbox__name{
        margin: 5px 0px 0px 35px;
    }
}
@media screen and (max-width: 426px){
    .lightbox__name{
        margin: 5px 0px 0px 45px;
    }
}
